<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Page Not Exist</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		img{
      display:block;
      margin:auto;
      width: 100%;
    }
	</style>
</head>
<body>
<div class="container">



	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div>
			<div>
        <img src=<%= imagesrc %> alt="404.jpg" />
        <center>
					<h1>
						<strong>Page: <%= url %> Does Not Exist</strong><br>
					</h1>
        </center>
			</div>
      <center>
			<a href="/" class="btn btn-success btn-lg">Back To Home</a>
    </center>
		</div>

	</div>

</div>
</body>
</html>
