<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />

	<!-- Media Agency Demo Specific Stylesheet -->
	<link rel="stylesheet" href="demos/app-landing/app-landing.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="demos/app-landing/css/fonts.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="css/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.css">

	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

		<link rel="stylesheet" href="demos/app-landing/css/colors.css" type="text/css" />

	<title><%= title %></title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->

		<header id="header" class="full-header no-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/home" class="standard-logo" data-dark-logo="images/logo-super.png"><img src="images/logo-super.svg" width="200"alt="Superman Logo"></a>
						<a href="/home" class="retina-logo" data-dark-logo="images/logo-super.png"><img src="images/logo-super.png" width="200"alt="Superman Logo"></a>
				</div><!-- #logo end -->
					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">
						<ul>
							<li><a href="#"><div> <%= name%> </div></a>
								<ul>
									<li><a href="#" data-toggle="modal" data-target="#change-profile">  <img id="profilePict" src='<%= profilepict%>'
									 class="" alt=""  width="30" height="30"> Change Profile</a></li>
									<li><a href="/logout">Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav><!-- #primary-menu end -->
				</div>
			</div>
		</header>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row clearfix">

						<div class="col-sm-12">
								<h3>Superman Dashboard</h3>
								<ul class="nav nav-tabs nav-justified">
									<li class=""><a href="/cms-transaction"><i class="icon-note"></i> Transaction</a></li>
									<li class=""><a href="/cms-user"><i class="icon-user4"></i> User</a></li>
									<li class=""><a href="/cms-gudang"><i class="icon-home2"></i> Warehouse</a></li>
									<li class="active"><a href="/cms-item"><i class="icon-cube"></i> Item</a></li>
						</ul>
						<br>

							<div class="clear"></div>

						<button class="button button-3d button-rounded button-green fright" data-toggle="modal" data-target="#myModal"><i class="icon-user "></i>Add Item</button>

						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-body">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Add Item</h4>
										</div>

										<div class="modal-body">
											<form action="/api/items" method="post" class="nobottommargin">
												<div class="col_full">
													<label class="font-body capitalize" for="register-form-modal-fullname">Item Name:</label>
													<input type="text" id="item-name" name="name" value="" class="form-control" />
												</div>
 												<div class="col_full nobottommargin">
													<button class="button button-rounded nomargin" id="item-form-submit" name="item-form-submit" type="submit" value="register">Submit</button>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<span class"error"></span>
										</div>
									</div>
								</div>
							</div>
						</div>

							<div class="row clearfix">
								<div class="col-md-12">


									<span id="total-items">Total Items: </span>
									<br>

									<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<colgroup>
						<col class="col-xs-1">
						<col class="col-xs-2">
						<col class="col-xs-1">

						<col class="col-xs-1">

						<col class="col-xs-1">

						<col class="col-xs-1">

						<col class="col-xs-1">

					</colgroup>
					<thead>
					<tr>
						<th>Item Name
					</th>


					</tr>
					</thead>
					<tbody id="list-item">

					</tbody>
				</table>
				</div>
								</div>

							</div>

						</div>

						<div class="line visible-xs-block"></div>



					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<footer id="footer" style="background-color: #FFF;">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="row clearfix">

						<div class="col-md-5">

							<div class="widget clearfix">
								<div class="row clearfix">

									<div class="">
										Copyrights &copy; 2016 All Rights Reserved by ivangerard.com<br>
										<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
									</div>

								</div>
							</div>

						</div>



					</div>
				</div>

			</div>


		</footer>
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script src="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.js"></script>
	<script type="text/javascript" src="js/components/bs-datatable.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>
	$(document).ready(function() {

					$("#item-form-submit").unbind().on("click",function(event){

							event.preventDefault()
							$.ajax({
									url: '/api/items',
									type: 'POST',
									data: {
											name: $("#item-name").val()
									},
									success: function(result) {
										location.reload();
									}
					})
				})


		listItems()
		jQuery( "#tabs-profile" ).on( "tabsactivate", function( event, ui ) {
			jQuery( '.flexslider .slide' ).resize();
		});
	});

	function listItems() {
		$.get({
				url: "/api/items/",
				success: function(result) {
					var jmlitem = result.data.length
						$('#total-items').append(jmlitem)

					for (var k in result.data){

							var listdataHTML =
							`
										<tr>
											<td>${result.data[k].name}</td>
											</td>
										</tr>
							`

						$('#list-item').prepend(listdataHTML)

					}
				}
		})
	}

	</script>

</body>
</html>
