<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css-global/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css-global/dark.css" type="text/css" />
	<!-- Media Agency Demo Specific Stylesheet -->
	<link rel="stylesheet" href="css/app-landing.css" type="text/css" />
	<!-- / -->
	<link rel="stylesheet" href="css-global/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css-global/animate.css" type="text/css" />
	<link rel="stylesheet" href="css-global/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/fonts.css" type="text/css" />
	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="css-global/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="css-global/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/colors.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.css">
	<!-- Document Title
	============================================= -->

	<title><%= title %></title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right nobottommargin">
			<li><a href="#"></a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ivan Gerard <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
				<li><a href="#">Profile</a></li>
				<li><a href="#">My Transaction</a></li>

				<li class="divider"></li>
				<li><a href="#">Logout</a></li>
				</ul>
			</li>
			</ul>
		</div>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row clearfix">

						<div class="col-sm-12">
								<h3>Superman Dashboard</h3>
								<ul class="nav nav-tabs nav-justified">
									<li class=""><a href="/cms-transaction"><i class="icon-note"></i> Transaction</a></li>
									<li class="active"><a href="/cms-user"><i class="icon-user4"></i> User</a></li>
									<li class=""><a href="/cms-gudang"><i class="icon-home2"></i> Gudang</a></li>
						</ul>
						<br>

							<div class="clear"></div>

						<button class="button button-3d button-rounded button-green fright" data-toggle="modal" data-target="#myModal"><i class="icon-user "></i>Add User</button>

						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-body">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Add User</h4>
										</div>

										<div class="modal-body">
											<form action="/api/users" method="post" class="nobottommargin">
												<div class="col_full">
													<label class="font-body capitalize" for="register-form-modal-fullname">Full Name:</label>
													<input type="text" id="register-form-modal-fullname" name="name" value="" class="form-control" />
												</div>
												<div class="col_full">
													<label class="font-body capitalize" for="register-form-modal-email">Email Address:</label>
													<input type="text" id="register-form-modal-email" name="email" value="" class="form-control" />
												</div>


												<div class="col_full">
													<label class="font-body capitalize" for="register-form-modal-password">Password:</label>
													<input type="password" id="register-form-modal-password" name="password" value="" class="form-control" />
												</div>

												<div class="col_full nobottommargin">
													<button class="button button-rounded nomargin" id="register-form-modal-submit" name="register-form-modal-submit" type="submit" value="register">Submit</button>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<span class"error"></span>
										</div>
									</div>
								</div>
							</div>
						</div>

							<div class="row clearfix">
								<div class="col-md-12">


									<span id="total-user">Total Users: </span>
									<br>

									<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<colgroup>
						<col class="col-xs-1">
						<col class="col-xs-2">
						<col class="col-xs-1">

						<col class="col-xs-1">

						<col class="col-xs-1">

						<col class="col-xs-1">

						<col class="col-xs-1">

					</colgroup>
					<thead>
					<tr>
						<th>Full Name
					</th>
						<th>Email Address</th>
						<th>Action</th>
						<th>Status</th>


					</tr>
					</thead>
					<tbody id="list-user">

					</tbody>
				</table>
				</div>
								</div>

							</div>

						</div>

						<div class="line visible-xs-block"></div>



					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<footer id="footer" style="background-color: #FFF;">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="row clearfix">

						<div class="col-md-5">

							<div class="widget clearfix">
								<div class="row clearfix">

									<div class="">
										Copyrights &copy; 2016 All Rights Reserved by ivangerard.com<br>
										<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
									</div>

								</div>
							</div>

						</div>



					</div>
				</div>

			</div>


		</footer>
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script src="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.js"></script>
	<script type="text/javascript" src="js/components/bs-datatable.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>
	$(document).ready(function() {

					$("#register-form-modal-submit").unbind().on("click",function(event){

							event.preventDefault()
							$.ajax({
									url: '/api/users',
									type: 'POST',
									data: {
											name: $("#register-form-modal-fullname").val(),
											email: $("#register-form-modal-email").val(),
											password: $("#register-form-modal-password").val()
									},
									success: function(result) {
										location.reload();

	// 									var fullname = $("#register-form-modal-fullname").val()
	// 									console.log(fullname)
	// 									var email = $("#register-form-modal-email").val()
	// 									var resultHTML =
	// 									`
	// 									<tr>
	// 										<td>${fullname}</td>
	// 										<td>${email}
	// 										</td>
	// 										<td><a href="#" data-id=''class="remove update-usr button  button-mini button-rounded button-amber"  title="Update this item">Update</a>
	// <a href="#" data-id=''class="remove update-usr button  button-mini button-rounded button-red"  title="Update this item">Delete</a>
	// 										</td>
	// 									</tr>
	// 									`
									}
					})
				})


		listUsers()
		jQuery( "#tabs-profile" ).on( "tabsactivate", function( event, ui ) {
			jQuery( '.flexslider .slide' ).resize();
		});
	});

	function listUsers() {
		$.get({
				url: "/api/users/",
				success: function(result) {
					var jmluser = result.data.length
						$('#total-user').append(jmluser)

					for (var k in result.data){

							var listdataHTML =
							`
										<tr>
											<td>${result.data[k].name}</td>
											<td>${result.data[k].userEmail}
											</td>
											<td id="${result.data[k]._id}status">${result.data[k].isActive}</td>
											<td>
	<a href="#" data-id='${result.data[k]._id}'class="remove update-usr button  button-mini button-rounded button-red"  title="Update this item">Deactivate</a>
											</td>
										</tr>
							`

						$('#list-user').prepend(listdataHTML)
						$(".update-usr").click(function() {
								deactivate($(this).attr('data-id'))
						})

					}
				}
		})
	}


function deactivate(id){
	console.log(id)
	swal({
  title: 'Are you sure want to deactivate?',
  text: "This can't be undo",
  type: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, Status Change!'
}).then(function () {
  swal(
    'Edited!',
    'Your status has been changed.',
    'success'
  ).then(function(){
		$.ajax({
				url: '/api/users/deactivate/'+id,
				type: 'POST',
				success: function(result) {
					console.log(result)
			$(`#${id}status`).html('NonActive')
				}
		})
	})
})
}

	</script>

</body>
</html>
