<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css-global/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css-global/dark.css" type="text/css" />

	<!-- Media Agency Demo Specific Stylesheet -->
	<!-- / -->

	<link rel="stylesheet" href="css-global/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css-global/animate.css" type="text/css" />
	<link rel="stylesheet" href="css-global/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css-global/components/bs-filestyle.css" type="text/css" />


	<link rel="stylesheet" href="css/fonts.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="css-global/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="css-global/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="css/colors.css" type="text/css" />
	<link rel="stylesheet" href="css/app-landing.css" type="text/css" />


	<!-- Document Title
	============================================= -->
	<title>App Landing | Superman</title>


<style>

</style>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		<header id="header" class="full-header no-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-super.png"><img src="images/logo-super.svg" width="200"alt="Superman Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-super.png"><img src="images/logo-super.png" width="200"alt="Superman Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src='<%= profilepict%>'
									 class="img-rounded" alt="Cinque Terre" width="30" height="30"> <%= name%> <b class="caret"></b></a>
								<ul class="dropdown-menu" role="menu">
								<li><a href="#" data-toggle="modal" data-target="#change-profile"> Profile</a></li>
								<li><a href="#">My Transaction</a></li>
								<li class="divider"></li>
								<li><a href="/logout">Logout</a></li>
								</ul>
							</li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Header
		============================================= -->

		<!-- #header end -->



		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
				<div class="container clearfix">
					<div class="modal fade" id="change-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-body">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Change Profile</h4>
									</div>

									<div class="modal-body">
										<form action="/api/users/profile/upload" method="post" class="nobottommargin" enctype="multipart/form-data" id="formphoto">
											<div class="col_full">
												<label class="font-body capitalize" for="profile-form-modal-photo">Change Profile Picture</label>
														<input type="file" id="profile-form-modal-photo" name="photo">
											</div>
											<div class="col_full nobottommargin">
												<button class="button button-rounded nomargin" id="profile-form-modal-submit" name="register-form-modal-submit" type="submit" value="register">Submit</button>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<span class"error"></span>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="col_three_fifth" id="content-list" >
						<div class="panel panel-default" id="kotak-post">
							<div class="panel-body">
								<div class="tabs clearfix ui-tabs ui-widget ui-widget-content ui-corner-all" id="tab-3">

									<ul class="tab-nav tab-nav2 clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
										<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-9" aria-labelledby="ui-id-21" aria-selected="true" aria-expanded="true"><a href="#tabs-post" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-21"><i class="icon-home2 norightmargin"></i></a></li>
										<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-10" aria-labelledby="ui-id-22" aria-selected="false" aria-expanded="false"><a href="#tabs-transaction" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-22">Request Transaction</a></li>

									</ul>
									<div class="tab-container">
										<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-post" aria-labelledby="ui-id-21" role="tabpanel" aria-hidden="false" style="display: block;">
											<form  id="form-message" action="" name="image-message" enctype="multipart/form-data">
												<textarea class="required sm-form-control" id="content-text" name="content-text" rows="6" cols="30" aria-required="true"></textarea>
													<div class="image-upload">
													    <label for="file-input">
													        <i class="icon-line-camera" style="font-size:20px"></i> Upload
													    </label>
													    <input id="file-input" type="file" name="photo" style="display:none"/>
													</div>
													<!-- <div class="col-md-6">
														<br>
														<input id="input-11" name="input11[]" type="file" multiple class="file-loading" accept="image/*">
													</div> -->


												<button type="submit" id="post-message" class="button button-3d button-small button-rounded button-green fright topmargin-sm">Post</a>

											</form>

										</div>


										<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom " id="tabs-transaction" aria-labelledby="ui-id-22" role="tabpanel" aria-hidden="true" style="display: none;">
											<div id="processTabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all ">
												<ul class="process-steps bottommargin clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
							<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="ptab1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
								<a href="#ptab1" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">1</a>
								<h5>Items Detail</h5>
							</li>
							<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="ptab2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
								<a href="#ptab2" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">2</a>
								<h5>Account Detail</h5>
							</li>
							<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="ptab3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
								<a href="#ptab3" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">3</a>
								<h5>Summary</h5>
							</li>
							<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="ptab4" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false">
								<a href="#ptab4" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">4</a>
								<h5>Complete</h5>
							</li>
						</ul>
												<form role="form" id="ajaxform" method="POST" action="/api/transactions">
													<div id="ptab1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">

														<h2 class="center">Input Your Transaction In Here !</h2>

														<div class="table-responsive">

															<table class="table cart">
																<thead>
																	<tr>
																		<th class="cart-product-name">Items</th>
																		<th class="cart-product-price">Unit Price</th>
																		<th class="cart-product-quantity">Quantity</th>
																		<th class="cart-product-subtotal">Total</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="cart_item">


																		<td class="cart-product-name">
																			<input type="text" id="1item" mark="1" class="item" name="itemname" size="15">
																		</td>

																		<td class="cart-product-price">
																			<span class="amount">IDR <input class="price" mark="1" type="text" id="1price" name="itemprice" size="5"></span>
																		</td>

																		<td class="cart-product-quantity">
																			<div class="clearfix">

																				<span class="amount"> <input class="quantity" mark="1" type="text" id="1quantity" name="quantity" size="5"> KG</span>

																			</div>
																		</td>

																		<td class="cart-product-subtotal">
																			<span class="amount">IDR <b id="1">0</b><b>,00</b></span>
																			<input type="hidden" id="1total" name="totalprice">
																		</td>
																	</tr>
																	<tr class="cart_item">


																		<td class="cart-product-name">
																			<input type="text" id="2item" mark="2" class="item" name="itemname" size="15">
																		</td>

																		<td class="cart-product-price">
																			<span class="amount">IDR <input class="price" mark="2" type="text" id="2price" name="itemprice" size="5"></span>
																		</td>

																		<td class="cart-product-quantity">
																			<div class="clearfix">

																				<span class="amount"> <input class="quantity" mark="2" type="text" id="2quantity" name="quantity" size="5"> KG</span>

																			</div>
																		</td>

																		<td class="cart-product-subtotal">
																			<span class="amount">IDR <b id="2">0</b><b>,00</b></span>
																			<input type="hidden" id="2total" name="totalprice">
																		</td>
																	</tr>

																	<tr id="btnadd">
																		<td>
																		</td>
																		<td>
																		</td>
																		<td>
																		</td>
																		<td></td>


																	</tr>
																	<span id="btn-plus" class="button button-3d nomargin fright"><i class="icon-line-circle-plus"></i></span>

																</tbody>

															</table>

														</div>

														<a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Checkout ⇒</a>

													</div>
													<div id="ptab2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
														<div class="form-group">
			                        <label for="inputText" >Nama Penerima</label>
			                          <input type="text" class="form-control detail-rekening" id="penerima" name="penerima" placeholder="Rony">
			                      </div>
			                      <div class="form-group">
			                        <label for="inputText">Nomor Rekening</label>
			                          <input type="text" class="form-control detail-rekening" id="rekening" name="rekening" placeholder="1234 4567 1239 8457">
			                      </div>
			                      <div class="form-group">
			                        <label for="inputText">Nama Bank</label>
			                          <input type="text" class="form-control detail-rekening" id="bank" name="bank" placeholder="BRI">
			                      </div>
			                      <div class="form-group">
			                        <label for="inputText">Nominal</label>
			                        <input type="text" class="form-control detail-rekening" id="nominal" name="nominal" placeholder="5000000">
			                      </div>

			                      <div class="form-group">
			                        <label>Keterangan</label>
			                        <textarea id="keterangan" class="form-control detail-rekening" placeholder="Tambahkan keterangan..." value="test keterangan" name="keterangan" rows="3"></textarea>
			                      </div>

														<div class="line"></div>
														<a href="#" class="button button-3d nomargin tab-linker" rel="1">Previous</a>
														<a href="#" class="button button-3d nomargin fright tab-linker" rel="3">Next</a>
													</div>
													<div id="ptab3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
														<div class="form-group">
			                        <label for="inputText" class="control-label">Nama Penerima</label>
			                        <label class="control-label">:</label>
			                        <label id="penerimasummary"></label>
			                      </div>
			                      <div class="form-group">
			                        <label for="inputText" class="control-label">Nomor Rekening</label>
			                        <label class="control-label">:</label>
			                        <label id="rekeningsummary"></label>
			                      </div>
			                      <div class="form-group">
			                        <label for="inputText" class="control-label">Nama Bank</label>
			                        <label class="control-label">:</label>
															<label id="banksummary"></label>
			                      </div>
			                      <div class="form-group">
			                        <label for="inputText" class="control-label">Nominal</label>
			                        <label class="control-label">:</label>
															<label id="nominalsummary"></label>
			                      </div>

			                      <div class="form-group">
			                        <label class="control-label">Keterangan</label>
			                        <label class="control-label">:</label>
															<label id="keterangansummary"></label>
			                      </div>
			                      <table class="table">
			                  <caption id="tablecaption">Detail Item</caption>
			                  <thead>
			                    <tr>
			                      <th></th>
			                      <th>Nama Item</th>
			                      <th>Harga (Rp)</th>
			                      <th>Quantity (Kg)</th>
			                      <th>Total Harga Item (Rp)</th>
			                    </tr>
			                  </thead>
			                  <tbody id="tabeldetail">
			                  </tbody>
			                </table>
														<div class="line"></div>
														<a href="#" class="button button-3d nomargin tab-linker" rel="2">Previous</a>
														<button id="order" class="button button-3d nomargin fright tab-linker" rel="4">Complete Order</button>
													</div>
													<div id="ptab4" aria-labelledby="ui-id-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">

													</div>
												</form>
											</div>
										</div>
										<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-11" aria-labelledby="ui-id-23" role="tabpanel" aria-hidden="true" style="display: none;">
											<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per
												conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
											Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna
											ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum.
											Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
										</div>
										<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-12" aria-labelledby="ui-id-24" role="tabpanel" aria-hidden="true" style="display: none;">
											Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis
											lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col_two_fifth col_last  nomargin" id="listgudang">


					</div>





				</div>
			</div>

		</section>
		<!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" style="background-color: #FFF;">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="row clearfix">

						<div class="col-md-5">

							<div class="widget clearfix">
								<div class="row clearfix">

									<div class="">
										Copyrights &copy; 2016 All Rights Reserved by ivangerard.com<br>
										<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
									</div>

								</div>
							</div>

						</div>



					</div>
				</div>

			</div>

			<!-- Copyrights
			============================================= -->


		</footer>
		<!-- #footer end -->

	</div>
	<!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/components/bs-filestyle.js"></script>


	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>
		var trindexdetail = 1
		jQuery(document).ready(function($) {
			var trindex = 2
			var trindexdetail = 1
			getMessages()
			listgudang()
			bindprice()
			bindquantity()
			$("#input-11").fileinput({
				maxFileCount: 10,
				allowedFileTypes: ["image", "video"]
			});

			$("#btn-plus").on("click", function(event) {
				var newtr = `<tr class="cart_item">


					<td class="cart-product-name">
						<input type="text" class="item" id=${++trindex}item mark=${trindex} name="itemname" size="15">
					</td>

					<td class="cart-product-price">
						<span class="amount">IDR <input class="price" mark=${trindex} id=${trindex}price type="text" name="itemprice" size="5"></span>
					</td>

					<td class="cart-product-quantity">
						<div class="clearfix">

							<span class="amount"> <input class="quantity" mark=${trindex} id=${trindex}quantity type="text" name="quantity" size="5"> KG</span>

						</div>
					</td>

					<td class="cart-product-subtotal">
						<span class="amount">IDR <b id=${trindex}>0</b><b>,00</b></span>
						<input type="hidden" id=${trindex}total name="totalprice">
					</td>`
					$(newtr).insertBefore('#btnadd')
					bindprice()
					bindquantity()
			})
			$("#post-message").unbind().on("click", function(event) {
						event.preventDefault()

							uploadimagemessage($('#form-message'))

			})
			function uploadimagemessage(image) {
				var form = document.forms.namedItem("image-message")
				var formData = new FormData(form)
				formData.append("content",$("#content-text").val())
				console.log(formData,"postData");
				$.ajax({
						url: '/api/messages',
						type: 'POST',
						data:  formData,
						mimeType:"multipart/form-data",
						contentType: false,
						cache: false,
						processData:false,
						success:function(result, textStatus, jqXHR)
						{

							location.reload()
						},
						error: function(jqXHR, textStatus, errorThrown)
						{
								//if fails
						}
				});
			}
			function postMessage(content) {


						$.ajax({
								url: '/api/messages',
								type: 'POST',
								data: content,
								success: function(result) {
										resultPost(result)
								}
						})
			}
			$('#profile-form-modal-photo').bind('change', function() {
					//  alert('This file size is: ' + this.files[0].size/1024/1024 + "MB");
			 });
			$("#profile-form-modal-submit").unbind().on("click", function(event) {
				$("#formphoto").submit(function(e){
						event.preventDefault()

						var formObj = $(this);
				    var formURL = formObj.attr("action");
				    var formData = new FormData(this);
						console.log(formData,"postData");
				    $.ajax({
				        url: formURL,
				    		type: 'POST',
				        data:  formData,
				    		mimeType:"multipart/form-data",
								contentType: false,
							 	cache: false,
							 	processData:false,
								success:function(result, textStatus, jqXHR)
								{
									location.reload()
								},
								error: function(jqXHR, textStatus, errorThrown)
								{
										//if fails
								}
						});

				})
				$("#formphoto").submit()
			})
			$("#order").unbind().on("click", function(event) {
				$("#ajaxform").submit(function(e)
				{
						var postData = $(this).serializeArray();
						console.log(postData);
						var formURL = $(this).attr("action");
						$.ajax(
						{
								url : formURL,
								type: "POST",
								data : postData,
								success:function(result, textStatus, jqXHR)
								{
										if(result.success){
											console.log(result);
											$('#ptab4').html(`<div class="alert alert-success" >
												<strong>Thank You.</strong> Your order will be processed once we verify the Payment.
											</div>`)
											var itemdetail = ""
											for (var i = 0; i < result.data.items.length; i++) {
												var totalprice = (result.data.items[i].totalprice+"").replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
												itemdetail += `Item Name: <b>${result.data.items[i].name}</b><br>
												Item Price: <b>${result.data.items[i].price}</b><br>
												Item Quantity: <b>${result.data.items[i].quantity}</b><br>
												Total Price: <b>Rp. ${totalprice}</b><br><br>`
											}
											var totalsetor = (result.data.nominal+"").replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
											var content = `<b>${result.data.userId.name}</b> request Payment to:<br>
											------------------------<br>
											Penerima: <b>${result.data.recipient}</b><br>
											Account: <b>${result.data.account}</b><br>
											Bank: <b>${result.data.bank}</b><br>
											Ammount: <b>Rp. ${totalsetor}</b><br>
											Notes: <b>${result.data.notes}</b><br>
											------------------------<br>
											Item Details:<br>
											------------------------<br>
											${itemdetail}`
											console.log(content)
											postMessage(content)
										} else{
											$('#ptab4').html(`<div class="alert alert-danger" >
												<strong>Sorry.</strong> Your order not Aproved,  Please Check Inputs Detail.
											</div>`)
										}
								},
								error: function(jqXHR, textStatus, errorThrown)
								{
										//if fails
								}
						});
						e.preventDefault()
				})
				$("#ajaxform").submit()
			})
			$( "#processTabs" ).tabs({ show: { effect: "fade", duration: 400 } });
			$( ".tab-linker" ).click(function() {
				$( "#processTabs" ).tabs("option", "active", $(this).attr('rel') - 1)
				return false
			})


			function pricingSwitcher(elementCheck, elementParent, elementPricing) {
				elementParent.find('.pts-left,.pts-right').removeClass('pts-switch-active');
				elementPricing.find('.pts-switch-content-left,.pts-switch-content-right').addClass('hidden');

				if (elementCheck.filter(':checked').length > 0) {
					elementParent.find('.pts-right').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-right').removeClass('hidden');
				} else {
					elementParent.find('.pts-left').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-left').removeClass('hidden');
				}
			}

			$('.pts-switcher').each(function() {
				var element = $(this),
					elementCheck = element.find(':checkbox'),
					elementParent = $(this).parents('.pricing-tenure-switcher'),
					elementPricing = $(elementParent.attr('data-container'));

				pricingSwitcher(elementCheck, elementParent, elementPricing);

				elementCheck.on('change', function() {
					pricingSwitcher(elementCheck, elementParent, elementPricing);
				});
			});

			// Get Started From Validation
			var getStartedForm = $('#get-started-form'),
				getStartedFormAlert = getStartedForm.attr('data-alert-type'),
				getStartedFormLoader = getStartedForm.attr('data-loader'),
				getStartedFormResult = getStartedForm.find('.contact-form-result'),
				getStartedFormRedirect = getStartedForm.attr('data-redirect');

			getStartedForm.validate({
				submitHandler: function(form) {

					getStartedFormResult.hide();

					if (getStartedFormLoader == 'button') {
						var defButton = $(form).find('button'),
							defButtonText = defButton.html();

						defButton.html('<i class="icon-line-loader icon-spin nomargin"></i>');
					} else {
						$(form).find('.form-process').fadeIn();
					}

					$(form).ajaxSubmit({
						target: getStartedFormResult,
						dataType: 'json',
						resetForm: true,
						success: function(data) {
							console.log(data);
							if (getStartedFormLoader == 'button') {
								defButton.html(defButtonText);
							} else {
								$(form).find('.form-process').fadeOut();
							}
							if (data.alert != 'error' && getStartedFormRedirect) {
								window.location.replace(getStartedFormRedirect);
								return true;
							}
							if (getStartedFormAlert == 'inline') {
								if (data.alert == 'error') {
									var alertType = 'alert-danger';
								} else {
									var alertType = 'alert-success';
								}

								getStartedFormResult.addClass('alert ' + alertType).html(data.message).slideDown(400);
							} else {
								getStartedFormResult.attr('data-notify-type', data.alert).attr('data-notify-msg', data.message).html('');
								SEMICOLON.widget.notifications(getStartedFormResult);
							}
						}
					});
				}
			});
			$('[data-pricing-plan]').click(function() {
				getStartedForm.find('#get-started-form-package').val($(this).attr('data-pricing-plan'));
				getStartedForm.find('#modal-get-started-package').html($(this).attr('data-pricing-plan'));
			});
		});
//////////////////////////
function resultPost (result){
	var time = new Date(result.data.createdAt)
	var nowtime = new Date()
	var postedtime
	var timeDiff = Math.abs(nowtime.getTime() - time.getTime());
	var diffDays = Math.floor(timeDiff / (1000 * 3600 * 24))
	var diffHours = Math.floor(timeDiff / (1000 * 3600))
	var diffMinutes = Math.floor(timeDiff / (1000 * 60))
	var diffSeconds = Math.ceil(timeDiff / (1000))
	if(diffDays > 0){
		postedtime = `${diffDays} days ago`
	} else if(diffHours > 0){
		postedtime = `${diffHours} hours ago`
	}else if(diffMinutes > 0){
		postedtime = `${diffMinutes} minutes ago`
	}else if(diffSeconds > 0){
		postedtime = `${diffSeconds} seconds ago`
	}
	var insidePost = `
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="spost clearfix">
				<div class="entry-image">
					<a href="#" class="nobg"><img class="img-circle" src="images/testimonials/1.jpg" alt=""></a>
				</div>
				<div class="entry-c">
					<div class="entry-title">
						<h4><a href="#">Ivan Gerard</a></h4>
					</div>
					<ul class="entry-meta">
						<li>${postedtime}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel-body">
		${result.data.content}<br>
		${result.data.image}
		</div>
		<div class="panel-footer">
		<a href="#${result.data._id}likes" mark=${result.data._id} class="leftmargin-sm comment-like-btn" id=${result.data._id}btn-comment-like><i class="icon-like"></i> ${result.data.likes.length} Likes</a>

		<a href="#${result.data._id}btn-comment-list" mark=${result.data._id} class="leftmargin-sm comment-list-btn" id=${result.data._id}btn-comment-list><i class="icon-comments"></i> ${result.data.comments.length} Comments</a>
		</div>

				<div class="panel-footer" id=${result.data._id}panel-footer>
					<input type="text" id="template-contactform-subject" mark=${result.data._id} name="template-contactform-subject" value="" class="required sm-form-control comment-box" aria-required="true">
					<div class="spost clearfix" id=${result.data._id}comment-list>
				</div>
			</div>
	</div>
	`
	$(insidePost).insertAfter('#kotak-post')
	bindcommentbox()
}
///////// List of function //////////
		 function getMessages() {
		    $.get({
		        url: "/api/messages/",
		        success: function(result) {
							console.log(result);
							for (var i in result.data){
								var time = new Date(result.data[i].createdAt)
								var nowtime = new Date()
								var postedtime
								var timeDiff = Math.abs(nowtime.getTime() - time.getTime());
								var diffDays = Math.floor(timeDiff / (1000 * 3600 * 24))
								var diffHours = Math.floor(timeDiff / (1000 * 3600))
								var diffMinutes = Math.floor(timeDiff / (1000 * 60))
								var diffSeconds = Math.ceil(timeDiff / (1000))
								if(diffDays > 0){
									postedtime = `${diffDays} days ago`
								} else if(diffHours > 0){
									postedtime = `${diffHours} hours ago`
								}else if(diffMinutes > 0){
									postedtime = `${diffMinutes} minutes ago`
								}else if(diffSeconds > 0){
									postedtime = `${diffSeconds} seconds ago`
								}
								var imgsrc
								if(result.data[i].userId.profilePicture){
									imgsrc = result.data[i].userId.profilePicture
								}else{
									imgsrc = "images/testimonials/1.jpg"
								}
								var imagemessage
								if(result.data[i].image != ""){
									imagemessage = `<img src='${result.data[i].image}'>`
								}else{
									imagemessage = ""
								}

				        var insideHTML =
				        `
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="spost clearfix">
											<div class="entry-image">
												<a href="#" class="nobg"><img class="img-circle" src=${imgsrc} alt=""></a>
											</div>
											<div class="entry-c">
												<div class="entry-title">
													<h4><a href="#">${result.data[i].userId.name}</a></h4>
												</div>
												<ul class="entry-meta">
													<li>${postedtime}</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="panel-body">
									${result.data[i].content}<br>
									${imagemessage}

									</div>
									<div class="panel-footer">

									<a href="#${result.data[i]._id}likes" mark=${result.data[i]._id} class="leftmargin-sm comment-like-btn" id=${result.data[i]._id}btn-comment-like><i class="icon-like"></i> ${result.data[i].likes.length} Likes</a>
									<a href="#${result.data[i]._id}btn-comment-list" mark=${result.data[i]._id} class="leftmargin-sm comment-list-btn" id=${result.data[i]._id}btn-comment-list><i class="icon-comments"></i> ${result.data[i].comments.length} Comments</a>
									</div>
											<div class="panel-footer" id=${result.data[i]._id}panel-footer>
												<input type="text" id="template-contactform-subject" mark=${result.data[i]._id} name="template-contactform-subject" value="" class="required sm-form-control comment-box" aria-required="true">
												<div class="spost clearfix" id=${result.data[i]._id}comment-list>
											</div>

										</div>

								</div>
								`
								$(insideHTML).insertAfter('#kotak-post')
								for (var j= 0 ; j< result.data[i].comments.length;j++){
								var commentHTML = `
								<div class="entry-image">
									<a href="#" class="nobg"><img class="img-circle" src="images/testimonials/1.jpg" alt=""></a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Ivan Gerard</a></h4>
										${result.data[i].comments[j].comment}
										<p></p>
									</div>
									<ul class="entry-meta">
									</ul>
								</div>
								`

								$(`#${result.data[i]._id}comment-list`).prepend(commentHTML)
									}
									$(`#${result.data[i]._id}comment-list`).hide()
									$('.comment-list-btn').each(function(){
										var id = $(this).attr('mark')
										$(this).on('click',function () {
											$(`#${id}comment-list`).show()
										})
									})
									$('.comment-like-btn').each(function(){
										var id = $(this).attr('mark')
										$(this).on('click',function () {
											addLike(id)
										})
									})

									bindcommentbox()
									}
		        }
		    })
		 }
		 function addLike(id){
			 $.ajax({
					 url: '/api/messages/like/'+id,
					 type: 'PUT',
					 success: function(result) {
						 console.log(id,"like")
				 			$(`#${id}btn-comment-like`).html(`<i class="icon-like"></i> ${result.count} Likes`)
					 }
			 })
		 }
		 function bindcommentbox() {
			 $('.comment-box').unbind('keyup').bind("keyup", function(e) {

 				var enterkey = event.keyCode
 				var inputtext =  $(this)
 				var id = $(this).attr("mark")

 				if(enterkey == 13){
 					var commenttext = $(this).val()
 					$.ajax({
 						url: `/api/messages/comment/${id}`,
 						type: 'PUT',
 						dataType: 'json',
 						headers: {"X-HTTP-Method-Override": "PUT"},
 						data: JSON.stringify({
 							comment: commenttext
 							}),
 						contentType: "application/json; charset=utf-8",

 						success: function(data) {
 							$(`#${id}btn-comment-list`).html(`<i class="icon-comments"></i> ${data.count} Comments`)
 							var commentHTML = `
 							<div class="panel-footer">
 							<div class="spost clearfix" style="display: block;">
 							<div class="entry-image">
 								<a href="#" class="nobg"><img class="img-circle" src="images/testimonials/1.jpg" alt=""></a>
 							</div>
 							<div class="entry-c">
 								<div class="entry-title">
 									<h4><a href="#">Ivan Gerard</a></h4>
 									${commenttext}
 									<p></p>
 								</div>
 								<ul class="entry-meta">
 								</ul>
 							</div>
 							</div>
 							</div>
 							`
 							$(commentHTML).insertAfter(inputtext)

 						}
 					});
 					console.log($(this).val())
 					$(this).val("")
 				}
 			})

		 }
		function listgudang() {

			$.get({
					url: "/api/transactions/",
					success: function(result) {
						console.log(result.data)
						for (var k in result.data){
							var listgudangHTML = `<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title ">${result.data[k].name}</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
										<tr>
											<th>#</th>
											<th>First Name</th>
											<th>Total</th>
											<th>Status</th>
										</tr>
										</thead>
										<tbody id='bodylistgudang'>


										</tbody>
									</table>
								</div>
							</div>
							`
							$('#listgudang').prepend(listgudangHTML)


							if(result.data[k].transactions){
								for (let i = 0; i < result.data[k].transactions.length; i++) {
										var nominal = String(result.data[k].transactions[i].nominal);
										var nominalDel = nominal.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

									var listrequestHTML = `
									<tr>
										<td>${~~(i+1)}</td>
										<td>${result.data[k].transactions[i].recipient}</td>
										<td>IDR ${nominalDel}</td>
										<td><span class="label label-success">${result.data[k].transactions[i].status}</span></td>
									</tr>`
									$('#bodylistgudang').append(listrequestHTML)
								}
							}


						}
					}
			})


		}
		$('.detail-rekening').each(function () {
			var id = $(this).attr('id')
			$(this).on('keyup',function () {
				$(`#${id}summary`).html($(`#${id}`).val())
			})
		})
		function bindprice() {
			$('.price').unbind('keypress').bind("keypress", function(e) {
					if (e.keyCode < 48 || e.keyCode > 57) {
						e.preventDefault()
					}
			})
			$('.price').each(function(){
				var id = $(this).attr('id')
				var mark = $(this).attr('mark')

				$(this).on('keyup',function () {
					var prc = parseInt($(`#${id}`).val())
					var qty = parseInt($(`#${mark}quantity`).val())
					$(`#${mark}`).html(prc*qty)
					$(`#${mark}total`).val(prc*qty)
					filltabel(mark)
				})
			})
		}
		function bindquantity() {
			$('.quantity').unbind('keypress').bind("keypress", function(e) {
					if (e.keyCode < 48 || e.keyCode > 57) {
						e.preventDefault()
					}
			})
			$('.item').each(function(){
				var mark = $(this).attr('mark')
				$(this).on('keyup',function () {
					filltabel(mark)
				})
			})
			$('.quantity').each(function(){
				var id = $(this).attr('id')
				var mark = $(this).attr('mark')
				$(this).on('keyup',function () {
					var qty = parseInt($(`#${id}`).val())
					var prc = parseInt($(`#${mark}price`).val())
					$(`#${mark}`).html(prc*qty)
					$(`#${mark}total`).val(prc*qty)
					filltabel(mark)
				})
			})
		}
		function filltabel(id) {
			var rowid = $(`#${id}item`).attr('id')
			var itemname = $(`#${id}item`).val()
			var itemprice = $(`#${id}price`).val()
			var itemquantity = $(`#${id}quantity`).val()
			var itemtotal = $(`#${id}total`).val()
			if(itemname!='' && itemprice!='' && itemquantity!='' && itemname!= undefined && itemprice!=undefined && itemquantity!=undefined){
						$(`#${rowid}detail`).remove()
						var trdetail = `<tr id=${rowid}detail>
						<th scope="row"></th>
						<td>${itemname}</td>
						<td>${itemprice}</td>
						<td>${itemquantity}</td>
						<td>${itemtotal}</td>
					</tr>`
					$('#tabeldetail').append(trdetail)


			}
		}
		bindprice()
		bindquantity()
	</script>

</body>


</html>
