<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css-global/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css-global/dark.css" type="text/css" />
	<!-- Media Agency Demo Specific Stylesheet -->
	<link rel="stylesheet" href="css/app-landing.css" type="text/css" />
	<!-- / -->
	<link rel="stylesheet" href="css-global/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css-global/animate.css" type="text/css" />
	<link rel="stylesheet" href="css-global/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/fonts.css" type="text/css" />
	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="css-global/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="css-global/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/colors.css" type="text/css" />
	<!-- Document Title
	============================================= -->
	<title>App Landing | Canvas</title>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark" data-responsive-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->


					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows clearfix not-dark">

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
							<li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
							<li><a href="#" data-href="#section-nextgen"><div>Explore</div></a>
								<ul>
									<li><a href="#" data-href="#who-we-are"><div>Who we are ?</div></a></li>
									<li><a href="#" data-href="#how-we-works"><div>How we works?</div></a></li>
									<li><a href="#" data-href="#what-we-offer"><div>What we offer ?</div></a></li>
									<li><a href="#" data-href="#why-us"><div>Why us ?</div></a></li>
									<li><a href="#" data-href="#what-your-benefit"><div>What your benefit ?</div></a></li>
									<li><a href="#" data-href="#how-to-join"><div>How to join ?</div></a></li>
									<li><a href="#" data-href="#what-we-do"><div>What we do ?</div></a></li>
									<li><a href="#" data-href="#how-this-works"><div>How this works ?</div></a></li>



								</ul>
							</li>
						</ul>

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
							<li><a href="#" data-href="#section-faqs"><div>FAQs</div></a></li>
							<li class="menu-item-emphasis"><a href="#modal-login" data-lightbox="inline"><div>Login</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="full-screen slider-parallax">
			<div class="slider-parallax-inner" style="background: url('images/hero/hero.jpg') center center no-repeat; background-size: cover;">
				<div class="vertical-middle" style="z-index: 2;">
					<div class="container dark clearfix">
						<div class="row clearfix">
							<div class="col-md-6 col-sm-8">
								<img src="images/superman-white.svg" alt="Canvas Logo">
								<div class="emphasis-title">
									<h1 class="font-body"> <br>Let's be part of<br>our Recycle Plastic <br>Company</h1>
										<!-- <br>Realtime Updates<br>For your <br>Plastic Investment</h1> -->
								</div>
								<a href="#modal-register" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large button-white button-light capitalize" style="border-radius: 23px;">Register Now</a>
								<a href="https://www.youtube.com/watch?v=N_r349riLEE" class="hero-action-link" data-lightbox="iframe"><i class="icon-play-sign"></i> Watch the Video</a>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
					<div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<!-- Modal -->
				<div class="modal1 mfp-hide" id="modal-login">
					<div class="block divcenter" style="background-color: #FFF; max-width: 400px;">
						<div style="padding: 50px;">
							<h3 class="font-body">Login to your Account</h3>
							<form action="/api/users/login" method="post" class="nobottommargin">
								<div class="col_full">
									<label class="font-body capitalize" for="login-form-modal-username">Email Address:</label>
									<input type="text" id="login-form-modal-username" name="email" value="" class="form-control" />
								</div>

								<div class="col_full">
									<label class="font-body capitalize" for="login-form-modal-password">Password:</label>
									<input type="password" id="login-form-modal-password" name="password" value="" class="form-control" />
								</div>

								<div class="col_full nobottommargin">
									<button class="button button-rounded nomargin" id="login-form-modal-submit" name="login-form-modal-submit" value="login">Login</button>
									<a href="#" class="fright">Forgot Password?</a>
								</div>
							</form>
							<div class="line line-sm"></div>
							<a href="#" class="button button-rounded btn-block t400 center capitalize si-facebook si-colored noleftmargin norightmargin">Login with Facebook</a>
							<a href="#" class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin">Login with Google</a>
						</div>
					</div>
				</div>

 <!-- Modal Register -->
 <div class="modal1 mfp-hide" id="modal-get-started">
	 <div class="block divcenter" style="background-color: #FFF; max-width: 800px;">
		 <div style="padding: 50px;">
			 <form action="#" id="get-started-form" method="post" class="nobottommargin">

				 <div class="row clearfix">
					 <div class="col-sm-8">
						 <h3 class="font-body">Register for an Account</h3>
					 </div>
					 <div class="col-sm-4">
						 <div id="modal-get-started-package"></div>
					 </div>
				 </div>

				 <div class="col_half">
					 <label class="font-body capitalize" for="get-started-form-username">Your Full Name:</label>
					 <input type="text" id="get-started-form-username" name="get-started-form-username" value="" class="form-control required no-error-msg" />
				 </div>

				 <div class="col_half col_last">
					 <label class="font-body capitalize" for="get-started-form-email">Your Email:</label>
					 <input type="email" id="get-started-form-email" name="get-started-form-email" value="" class="form-control required email no-error-msg" />
				 </div>

				 <div class="clear"></div>

				 <div class="col_half">
					 <label class="font-body capitalize" for="get-started-form-password">Choose Password:</label>
					 <input type="password" id="get-started-form-password" name="get-started-form-password" value="" class="form-control required no-error-msg" />
				 </div>

				 <div class="col_half col_last">
					 <label class="font-body capitalize" for="get-started-form-password">Retype Password:</label>
					 <input type="password" id="get-started-form-repassword" name="get-started-form-repassword" value="" class="form-control required no-error-msg" />
				 </div>

				 <!-- Package Selector Hidden Input Value Setter -->
				 <input type="hidden" id="get-started-form-package" name="get-started-form-package" value="Free">

				 <div class="col_full">
					 <label>
						 <input type="checkbox" id="get-started-form-agree" name="get-started-form-agree" value="1" style="position: relative; top: 2px; margin-right: 5px;"> I Agree to the Terms &amp; Conditions
					 </label>
				 </div>

				 <div class="col_full nobottommargin">
					 <button class="button button-rounded nomargin" id="get-started-form-submit" name="get-started-form-submit" value="login">Get Started</button>
					 <!-- <a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="fright" onClick="$.magnificPopup.close();">Change Plan?</a> -->
				 </div>

			 </form>
		 </div>
	 </div>
 </div>
				<div class="container clearfix">
					<div id="who-we-are" class="page-section bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-7 center">
								<img src="images/section/plastic.png" alt="NextGen Framework" data-animate="fadeInLeft">
							</div>

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<!-- <img src="images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm"> -->
								<div class="emphasis-title bottommargin-sm">
									<!-- <span class="before-heading">Plug into the</span> -->
									<h2 style="font-size: 42px;" class="font-body ls1 t400">Who We Are ? </h2>
								</div>
								<p style="color: #777;" class="lead">
									We are the recycle plastic company that support go green and our goal is to manage plastic waste from all of Indonesia
								</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

						</div>
					</div>

					<div id="how-we-works" class="page-section topmargin bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<div class="emphasis-title bottommargin-sm">
									<h2 style="font-size: 42px;" class="font-body ls1 t400">How We Works ?</h2>
								</div>
								<p style="color: #777;" class="lead">We buy and manage every plastic waste as much as possible all around Indonesia through our collection center in every city.</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

							<div class="col-md-7 center">
								<img src="images/section/section-iphone-nexus.png" alt="Stunning Graphics" data-animate="fadeInRight">
							</div>

						</div>
					</div>
					<div class="line"></div><div class="clear"></div>


					<div id="what-we-offer" class="page-section bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-7 center">
								<img src="images/section/superman3.png" alt="NextGen Framework" data-animate="fadeInLeft">
							</div>

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<!-- <img src="images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm"> -->
								<div class="emphasis-title bottommargin-sm">
									<!-- <span class="before-heading">Plug into the</span> -->
									<h2 style="font-size: 42px;" class="font-body ls1 t400">What we offer ? </h2>
								</div>
								<p style="color: #777;" class="lead">
Investing and funding our company that we will use it to build or collection center in every city around Indonesia.								</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

						</div>
					</div>



					<div class="line"></div><div class="clear"></div>
					<div id="why-us" class="page-section topmargin bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<div class="emphasis-title bottommargin-sm">
									<h2 style="font-size: 42px;" class="font-body ls1 t400">Why Us ?</h2>
								</div>
									<ul>
										<li><p style="color: #777;" class="lead">We Active in market, by Empowering employees and suppliers to be more sustainable and professional with budgeting system</p>	</li>
										<li><p style="color: #777;" class="lead">Professional working ethics from controlling, organizing, and most of all, best market selling
										price.</p>	</li>

									</ul>

								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

							<div class="col-md-7 center">
								<img src="images/section/trashperson.jpg" alt="Stunning Graphics" data-animate="fadeInRight">
							</div>

						</div>
					</div>

					<div class="line"></div><div class="clear"></div>

					<div id="what-your-benefit" class="page-section bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-7 center">
								<img src="images/section/section-graph.svg" alt="NextGen Framework" data-animate="fadeInLeft">
							</div>

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<!-- <img src="images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm"> -->
								<div class="emphasis-title bottommargin-sm">
									<!-- <span class="before-heading">Plug into the</span> -->
									<h2 style="font-size: 42px;" class="font-body ls1 t400">What's your Benefit ? </h2>
								</div>
								<p style="color: #777;" class="lead">More than <span style="color:#81c83d;font-size:35px">3% </span>profit / month </p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

						</div>
					</div>

					<div id="how-to-join" class="page-section topmargin bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<div class="emphasis-title bottommargin-sm">
									<h2 style="font-size: 42px;" class="font-body ls1 t400">How To Join ?</h2>
								</div>
								<p style="color: #777;" class="lead">Simply register your account in our website, and our representative will contact you immediately.</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

							<div class="col-md-7 center">
								<img src="images/section/section-iphone-nexus.png" alt="Stunning Graphics" data-animate="fadeInRight">
							</div>

						</div>
					</div>


					<div class="line"></div><div class="clear"></div>


					<div id="what-we-do" class="page-section bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-7 center">
								<img src="images/section/trash.png" alt="NextGen Framework" data-animate="fadeInLeft">
							</div>

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<!-- <img src="images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm"> -->
								<div class="emphasis-title bottommargin-sm">
									<!-- <span class="before-heading">Plug into the</span> -->
									<h2 style="font-size: 42px;" class="font-body ls1 t400">What we <br>do for CSR ? </h2>
								</div>
								<p style="color: #777;" class="lead">We will make a list of every supplier and manpower that connect with us and register them to BPJS

								every month<span style="color:#81c83d;font-size:25px">*</span> and also free medical treatment every end of the month.</p>								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

						</div>
					</div>





					<div class="line"></div><div class="clear"></div>

				</div>

				<div id="how-this-works" class="page-section section nopadding topmargin-sm" style="background: url('images/section/iphone-3d-bg.png') no-repeat left bottom; background-size: 100% auto;" data-height-lg="700" data-height-md="700" data-height-sm="450" data-height-xs="450" data-height-xxs="450">
					<div class="container clearfix">
						<div class="row clearfix">
							<div class="col-md-5 col-md-offset-6">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<div class="emphasis-title bottommargin-sm">
									<h2 style="font-size: 42px;" class="font-body ls1 t400">How this works ?</h2>
								</div>
								<p style="color: #777;" class="lead">
									<ul>
										<li><p style="color: #777;" class="lead">The investor will invest his money to us for build a new collection center.</p>	</li>
										<li><p style="color: #777;" class="lead">We will report the update of the new collection center every day.</p>	</li>
										<li><p style="color: #777;" class="lead">We will set the minimum and maximum of the purchase price.</p>	</li>
										<li><p style="color: #777;" class="lead">The profit will be divide based on our agreement.</p></li>

									</ul>

								</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
						<div class="video-overlay hidden-xs hidden-sm" style="background: url('images/section/iphone-3d.png') no-repeat left top; background-size: auto 100%;" data-animate="fadeInLeft"></div>
					</div>
				</div>



				<div class="clear bottommargin"></div>

				<div class="container clearfix">

					<div id="section-faqs" class="page-section nopadding nomargin">

						<div class="row topmargin-sm clearfix">

							<h2 class="center font-body bottommargin-lg">Frequently Asked Questions</h2>

							<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">How do I become an author?</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi.</p>
							</div>
							<div class="col-md-5 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">Helpful Resources for Authors</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit.</p>
							</div>
							<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">How much money can I make?</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae.</p>
							</div>
							<div class="col-md-5 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">Can I offer my items for free on a promotional basis?</h4>
								<p>Laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>
							</div>
							<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">An Introduction to the Marketplaces for Authors</h4>
								<p>Quisquam atque vero delectus corrupti! Quo, maiores, dolorem, hic commodi nulla ratione accusamus doloribus fuga magnam id temporibus dignissimos deleniti quidem ipsam corporis sapiente nam expedita saepe quas ab? Vero, assumenda.</p>
							</div>
							<div class="col-md-5 col-sm-6">
								<h4 class="font-body" style="margin-bottom:15px;">How does the Tuts+ Premium affiliate program work?</h4>
								<p class="nobottommargin">Reprehenderit similique nemo voluptate ullam natus illum magnam alias nobis doloremque delectus ipsa dicta repellat maxime dignissimos eveniet quae debitis ratione assumenda tempore officiis fugiat dolor.</p>
							</div>

						</div>

					</div>

				</div>




				<!-- <div class="section nomargin">
					<div class="container clearfix">

						<h2></h2>

					</div>
				</div> -->

				<div class="" style="padding: 30px 0; color: #999; background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;">
					<div class="container clearfix">
						<div class="row topmargin-lg clearfix">
							<div class="container clearfix">

								<div class="col_two_third nobottommargin">

									<div class="fancy-title title-border">
										<h4>Recent Posts</h4>
									</div>

									<div class="col_half nobottommargin">
										<div class="ipost clearfix">
											<div class="entry-image">
												<a href="#"><img class="image_fade" src="images/testimonials/thumb/11.jpg" alt="Image"></a>
											</div>
											<div class="entry-title">
												<h3><a href="blog-single.html">Toyotas next minivan will let you shout at your kids without turning around</a></h3>
											</div>
											<ul class="entry-meta clearfix">
												<li><i class="icon-calendar3"></i> 10th Feb 2014</li>
												<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
											</ul>
											<div class="entry-content">
												<p>Medecins du Monde eradicate sustainability free expression contribution assessment expert humanitarian relief.</p>
											</div>
										</div>
									</div>

									<div class="col_half col_last nobottommargin">
										<div class="ipost clearfix">
											<div class="entry-image">
												<a href="#"><img class="image_fade" src="images/testimonials/thumb/10.jpg" alt="Image"></a>
											</div>
											<div class="entry-title">
												<h3><a href="blog-single.html">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h3>
											</div>
											<ul class="entry-meta clearfix">
												<li><i class="icon-calendar3"></i> 10th Feb 2014</li>
												<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
											</ul>
											<div class="entry-content">
												<p>Urban public institutions life-saving women and children Rockefeller combat malaria honesty. Sustainability foster immunize treatment.</p>
											</div>
										</div>
									</div>

									<div class="clear"></div>

								</div>

								<div class="col_one_third nobottommargin col_last">

									<div class="fancy-title title-border">
										<h4>Client Testimonials</h4>
									</div>

									<div class="fslider testimonial nopadding noborder noshadow" data-animation="slide" data-arrows="false">
										<div class="flexslider">
											<div class="slider-wrap">
												<div class="slide">
													<div class="testi-image">
														<a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
													</div>
													<div class="testi-content">
														<p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
														<div class="testi-meta">
															Steve Jobs
															<span>Apple Inc.</span>
														</div>
													</div>
												</div>
												<div class="slide">
													<div class="testi-image">
														<a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
													</div>
													<div class="testi-content">
														<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
														<div class="testi-meta">
															Collis Ta'eed
															<span>Envato Inc.</span>
														</div>
													</div>
												</div>
												<div class="slide">
													<div class="testi-image">
														<a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
													</div>
													<div class="testi-content">
														<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
														<div class="testi-meta">
															John Doe
															<span>XYZ Inc.</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="clear"></div>

									<div class="well topmargin ohidden">

										<h4>Opening Hours</h4>

										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit reprehenderit voluptates.</p>

										<ul class="iconlist nobottommargin">
											<li><i class="icon-time color"></i> <strong>Mondays-Fridays:</strong> 10AM to 7PM</li>
											<li><i class="icon-time color"></i> <strong>Saturdays:</strong> 11AM to 3PM</li>
											<li><i class="icon-time text-danger"></i> <strong>Sundays:</strong> Closed</li>
										</ul>

										<i class="icon-time bgicon"></i>

									</div>

								</div>


							</div>

						</div>
					</div>
				</div>

				<div class="center  nobg">
					<div class="container clearfix">
								<img src="images/section/map.svg" alt="Map">
						<h3 class="ls1 t400" style="font-size: 32px;"> <span>19+</span> Warehouse allover Indonesia, <br>and be <span>One</span> of them</h3>
						<!-- <a href="#modal-get-started"  data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large capitalize" style="border-radius: 23px;">Register Now</a> -->
						<div class="pts-switch-content-left"><a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Register Now</a></div>

					</div>
				</div>



			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" style="background-color: #FFF;">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="row clearfix">

						<div class="col-md-5">

							<div class="widget clearfix">
								<div class="row clearfix">

														<div class="">
															Copyrights &copy; 2016 All Rights Reserved by ivangerard.com<br>
															<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
														</div>

								</div>
							</div>

						</div>



					</div>
				</div>

			</div>

			<!-- Copyrights
			============================================= -->


		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>
		jQuery(document).ready( function($){

			function pricingSwitcher( elementCheck, elementParent, elementPricing ) {
				elementParent.find('.pts-left,.pts-right').removeClass('pts-switch-active');
				elementPricing.find('.pts-switch-content-left,.pts-switch-content-right').addClass('hidden');

				if( elementCheck.filter(':checked').length > 0 ) {
					elementParent.find('.pts-right').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-right').removeClass('hidden');
				} else {
					elementParent.find('.pts-left').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-left').removeClass('hidden');
				}
			}

			$('.pts-switcher').each( function(){
				var element = $(this),
					elementCheck = element.find(':checkbox'),
					elementParent = $(this).parents('.pricing-tenure-switcher'),
					elementPricing = $( elementParent.attr('data-container') );

				pricingSwitcher( elementCheck, elementParent, elementPricing );

				elementCheck.on( 'change', function(){
					pricingSwitcher( elementCheck, elementParent, elementPricing );
				});
			});

			// Get Started From Validation
			var getStartedForm = $('#get-started-form'),
				getStartedFormAlert = getStartedForm.attr('data-alert-type'),
				getStartedFormLoader = getStartedForm.attr('data-loader'),
				getStartedFormResult = getStartedForm.find('.contact-form-result'),
				getStartedFormRedirect = getStartedForm.attr('data-redirect');

			getStartedForm.validate({
				submitHandler: function(form) {

					getStartedFormResult.hide();

					if( getStartedFormLoader == 'button' ) {
						var defButton = $(form).find('button'),
							defButtonText = defButton.html();

						defButton.html('<i class="icon-line-loader icon-spin nomargin"></i>');
					} else {
						$(form).find('.form-process').fadeIn();
					}

					$(form).ajaxSubmit({
						target: getStartedFormResult,
						dataType: 'json',
						resetForm: true,
						success: function( data ) {
							if( getStartedFormLoader == 'button' ) {
								defButton.html( defButtonText );
							} else {
								$(form).find('.form-process').fadeOut();
							}
							if( data.alert != 'error' && getStartedFormRedirect ){
								window.location.replace( getStartedFormRedirect );
								return true;
							}
							if( getStartedFormAlert == 'inline' ) {
								if( data.alert == 'error' ) {
									var alertType = 'alert-danger';
								} else {
									var alertType = 'alert-success';
								}

								getStartedFormResult.addClass( 'alert ' + alertType ).html( data.message ).slideDown( 400 );
							} else {
								getStartedFormResult.attr( 'data-notify-type', data.alert ).attr( 'data-notify-msg', data.message ).html('');
								SEMICOLON.widget.notifications( getStartedFormResult );
							}
						}
					});
				}
			});

			$('[data-pricing-plan]').click( function(){
				getStartedForm.find('#get-started-form-package').val( $(this).attr('data-pricing-plan') );
				getStartedForm.find('#modal-get-started-package').html( $(this).attr('data-pricing-plan') );
			});

		});
	</script>

</body>
</html>
