<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css-global/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css-global/dark.css" type="text/css" />
	<!-- Media Agency Demo Specific Stylesheet -->
	<link rel="stylesheet" href="css/app-landing.css" type="text/css" />
	<!-- / -->
	<link rel="stylesheet" href="css-global/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css-global/animate.css" type="text/css" />
	<link rel="stylesheet" href="css-global/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/fonts.css" type="text/css" />
	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="css-global/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="css-global/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/colors.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.css">
	<!-- Document Title
	============================================= -->

	<title><%= title %></title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->


		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
				<div class="container clearfix">
					<div class="row clearfix">
						<div class="col-sm-12">
							<h3>Verify your transaction by click button below</h3>
							<br>
							<div class="clear"></div>
							<form method="post">
									<button type="submit" class="button button-3d button-rounded button-green fright">Verify</button>
							</form>


						</div>
					</div>

				</div>

			</div>

			<div class="line visible-xs-block"></div>
		</div>

		</section><!-- #content end -->
	</div><!-- #wrapper end -->

</body>
</html>
